html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: black;
}

#introVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#page {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/home/home.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    width: 300px;
    height: 200px;
}

.img:hover {
    transform: scale(1.1);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #ffffffd5;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#score {
    margin: 0;
    font-size: 1.2rem;
}

#lead {
    padding: 8px 15px;
    background: #6ca9ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}