
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

.email-container {
    max-height: 80vh; 
    overflow-y: auto;
    padding-right: 10px; 
}


h1 {
  text-align: left;
  margin-bottom: 30px;
}

.email-box {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.email-type {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.human {
  background: #2196f3;
}

.alien {
  background: #e91e63;
}

.email-subject {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.hightlighWrong{
  background-color: red;
}

.hightlighRight{
  background-color: green;
}

.email-id {
  color: rgb(129, 25, 25);
  font-size: 14px;
  margin-bottom: 10px;
}

.email-content {
  font-size: 15px;
  line-height: 1.4;
}
.btn {
    width: 10%;
    padding: 5px;
    background: #93cbf0;
    color: #0d0000;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.3s;
}

.btn:hover {
    background: #678ded;
}
